{% extends "pages/abstract/dashboard.html.twig" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("ALT_ROLE.PAGE_TITLE", {'seeker' : seeker}) }} | {{ role.name }}{% endblock %}

{% block page_description %}{{ translate("ROLE.INFO_PAGE", {name: role.name}) }}{% endblock %}

{% block body_matter %}
    <div class="row">
        <div class="col-lg-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-fw fa-drivers-license"></i> {{ translate('ROLE') }}</h3>
                </div>
                <div class="box-body">
                    <dl>
                        <dt>{{ translate('ROLE.NAME') }}</dt>
                        <dd><p>{{ role.name }}</p></dd>
                        <dt>{{ translate('DESCRIPTION') }}</dt>
                        <dd><p>{{ role.description }}</p></dd>
                    </dl>
                </div>
                <div class="box-footer text-center">
                    <button type="button" class="btn btn-primary js-displayForm" data-id="{{ role.id }}" data-formUrl="{{ uri.edit }}">{{ translate('EDIT') }}</button>
                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-lg-8">
            <div class="box box-primary">
                <form method="PUT" action="{{site.uri.public}}/api/roles/{{seeker}}/r/{{role.id}}/permissions" id="role-permissions">
                    {% include "forms/csrf.html.twig" %}
                    <div class="box-header">
                        <h3 class="box-title"><i class="fa fa-fw fa-key"></i> {{ translate('PERMISSION', 2) }}</h3>
                    </div>
                    <div class="box-body no-padding">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>{{ translate('PERMISSION', 2) }}</th>
                                    <th class="text-center">{{ translate('STATUS') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for permission in permissions %}
                                <tr>
                                    <td>
                                        <p><strong>{{ permission.localeName }}</strong></p>
                                        <small>{{ permission.localeDescription }}</small>
                                    </td>
                                    <td class="text-center" nowrap="nowrap">
                                        <div class="checkbox icheck">
                                            <label>
                                              <input type="checkbox" class="js-icheck" name="permissions[{{ permission.id }}]"{% if permission.active %} checked="checked" {% endif %}>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="box-footer text-center">
                        <button type="reset" class="btn btn-default">{{ translate('RESET') }}</button>
                        <button type="submit" class="btn btn-primary">{{ translate('PERMISSION.UPDATE') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts_page %}
    <!-- Include page-specific JS -->
    {{ assets.js('js/form-widgets') | raw }}
    {{ assets.js('js/FormGenerator') | raw }}

    <script>
        // ufForm instance. Don't need FormGeneator now
        $("#role-permissions").ufForm({
            validators: [],
            msgTarget: $("#alerts-page")
        }).on("submitSuccess.ufForm", function() {
            // Forward to settings page on success
            window.location.reload(true);
        });
    </script>

{% endblock %}
