{% extends "FormGenerator/modal.html.twig" %}

{% block modal_size %}modal-lg{% endblock %}

{% block form_content %}
<div class="js-form-user">
    <div class="padding-bottom">
        <label>{{translate("USER")}}:</label>
        <select class="form-control select2 js-select-new" type="text">
        <option></option>
        </select>
    </div>
</div>

<div class="js-form-seeker">
    <div class="padding-bottom">
        <label>{{translate("PROJECT")}}:</label>
        <select class="form-control select2 js-select-new" type="text">
        <option></option>
        </select>
    </div>
</div>

{# This contains a series of <script> blocks, each of which is a client-side Handlebars template.
 # Note that these are NOT Twig templates, although the syntax is similar.  We wrap them in the `verbatim` tag,
 # so that Twig will output them directly into the DOM instead of trying to treat them like Twig templates.
 #
 # These templates require handlebars-helpers.js, moment.js
#}
{% verbatim %}
<script id="user-select-option" type="text/x-handlebars-template">
    <div>{{user_name}} - {{first_name}} {{last_name}}</div>
</script>

<script id="seeker-select-option" type="text/x-handlebars-template">
    <div>
        <strong>
            {{name}}
        </strong>
        <br>
        {{description}}
        <div>
            <code>{{slug}}</code>
        </div>
        <div>
            ↳ <code>{{conditions}}</code>
        </div>
    </div>
</script>
{% endverbatim %}

<script>
    {% include "components/page.js.twig" %}

    // Set up collection widget
    var permissionWidget = $('#{{box_id}}').find('.js-form-user');
    permissionWidget.ufCollection({
        dropdown: {
            ajax: {
                url     : site.uri.public + '/api/users'
            },
            placeholder : "Select a user"
        },
        dropdownTemplate: $('#{{box_id}}').find('#user-select-option').html()
    });

    // Get current roles and add to widget
    /*$.getJSON(site.uri.public + '/api/roles/r/' + slug + '/permissions')
    .done(function (data) {
        $.each(data.rows, function (idx, permission) {
            permission.text = permission.name;
            permissionWidget.ufCollection('addRow', permission);
        });
    });*/
</script>

{% endblock %}
